@charset "UTF-8";

@import "../../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css';
@import "../../../node_modules/@syncfusion/ej2-layouts/styles/bootstrap5.css";
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap5.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css';
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css";
@import "../../../node_modules/@syncfusion/ej2-react-layouts/styles/bootstrap5.css";
@import "../../../node_modules/@syncfusion/ej2-react-lists/styles/bootstrap5.css";
@import "../../../node_modules/@syncfusion/ej2-react-kanban/styles/bootstrap5.css";
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/bootstrap5.css";

:root {
  --gosu-blue-space-100: rgba(75, 88, 119, 1);
  --gosu-blue-space-light-100: rgba(115, 128, 159, 1);
  --gosu-blue-70: rgba(13, 110, 253, 0.70);
  --gosu-blue-55: rgba(13, 110, 253, 0.55);
  --gosu-blue-light-100:rgba(247, 248, 249, 1);
  --gosu-cyan-100:rgba(0, 123, 127, 1);
  --gosu-cyan-80: rgba(0, 123, 127, 0.8);
  --gosu-orange-100: rgba(235, 94, 69, 1);
  --gosu-orange-70: rgba(251, 170, 73, 0.7);
  --gosu-orange-13: rgba(251, 170, 73, 0.13);
  --gosu-light-100: rgba(255, 255, 255, 1);
  --gosu-light-80: rgba(255, 255, 255, 0.8);
  --gosu-light-50: rgba(255, 255, 255, 0.5);
  --gosu-light-13: rgba(255, 255, 255, 0.13);
  --gosu-danger-70: rgba(220, 53, 69, 0.7);
  --gosu-darck-blue-100: rgb(24, 45, 77);
  --gosu-black-70: rgba(0, 0, 0, 0.7);
  --gosu-dark-gray-100: rgba(24, 45, 77, 1);
  --gosu-blue-gray-100:rgba(195, 198, 209, 1);
  --gosu-gray-100: rgba(151, 151, 151, 1);
  --gosu-gray-70: rgba(182, 182, 186, 0.70);
  --gosu-gray-55: rgba(182, 182, 186, 0.55);
  --gosu-gray-33: rgba(182, 182, 186, 0.33);
  --gosu-gray-44: rgba(182, 182, 186, 0.44);
  --gosu-light-gray-0-100: rgba(247, 248, 249, 1);
  --gosu-light-gray-100: rgba(232, 231, 231, 1);
  --gosu-green-13: rgba(6, 167, 125, 0.13);
  --gosu-menu-btn-height: 18.75rem;
  --gosu-border-radius-ys: 1.5rem;
  --gosu-m-icon-rols: url(/img/rols.png);
  --gosu-m-icon-sets: url(/img/sets.png);
  --gosu-m-icon-dish: url(/img/dish.png);
  --gosu-m-icon-soups: url(/img/soups.png);
  --gosu-m-icon-garnish: url(/img/garnish.png);
  --gosu-m-icon-drinks: url(/img/drinks.png);
  --bs-font-sans-serif: Comfortaa;
  --bs-light-rgb: 255,255,255;
  --bs-body-font-size: 0.75rem;
  --bs-body-color-rgba: rgb(33,37,41,1);
  --bs-card-color: var(--gosu-light-100);
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(1,56,120);
  background: linear-gradient(0deg, rgba(1,56,120,0.8604691876750701) 19%, rgba(187,180,232,1) 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--gosu-light-100);
}

.modal-content{
  color: black!important;
}

h1 {
  align-items: flex-end;
  z-index: 2;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 40px;
  font-weight: 700;
  color: var(--gosu-light-100);
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
}

h2 {
  font-weight:700;
  font-size:22px;
  line-height:24.53px;
  /* color: rgba(24, 45, 77, 1); */
}

h5 {
  font-weight:500;
  /* font-size:1rem !important; */
  font:inherit;
  vertical-align: baseline;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  line-height:1.2;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  /* color: rgba(24, 45, 77, 1); */
}

.e-control {
  color: var(--gosu-blue-space-light-100);
}

/* START CHART */

.chart {
  background: rgba(255,255,255,.95);
  border-radius: 1.5rem;
  padding: 0.5rem;
  color: var(--gosu-light-100);
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
}

.e-dashboardlayout.e-control .e-panel {
  background: rgba(255,255,255,.95) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  color: var(--gosu-light-100);
  border-radius: 1.5rem;
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
  box-sizing: border-box;
  position: absolute;
}

.e-dashboardlayout.e-control .e-panel.kpi {
  background: transparent !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  color: var(--gosu-light-100);
  border: none;
  text-shadow: 0 2px 3px rgba(0,0,0,.25);
  box-sizing: border-box;
  position: absolute;
}

/* END CHART */

.bg-light {
  background-color: var(--gosu-light-100)!important;
}

.bg-light-blue {
  background-color: rgba(0,212,255,1)!important;
}

.bg-darck-blue {
  background-color: #1b3446!important;
}

.bg-warning {
  --bs-bg-opacity: 0;
  background-color: var(--gosu-orange-100)!important;
}

.bg-blue-space {
  background-color: var(--gosu-blue-space-100)!important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  color: #fff !important;;
  border-radius: 1.5rem!important;
}

/* BI */
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font: inherit;
  vertical-align: baseline;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--gosu-border-radius-ys);
  --bs-nav-pills-link-active-color: var(--gosu-light-100);
  --bs-nav-pills-link-active-bg: var(--gosu-blue-space-100);
  border-right: 1px solid #e8eaeb;
  line-height: 3rem;
}

.tab-content {
  --bs-body-color-rgba: rgb(33,37,41,1);
}

/* SIDE MENU */
.sidenav---navtext---1AE_f {
  color: #fff!important;
}

.card-header {
  font-size: 0.55rem;
}

.sidenav---sidenav---_2tBP {
  position: fixed!important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;  
  min-width: 64px;
  background: #171d2b!important;
  transition: min-width 0.2s;
}

.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .sidenav---sidenav-nav---3tvij 
.sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---sidenav-subnav---1EN61 {
  color: var(--gosu-blue-space-100)!important;
}
.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: var(--gosu-blue-space-100)!important;
}
/* END SIDE-MENU */

/* TOP-BAR */
.top-bar .form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.top-bar .input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 0px solid #ced4da;
  border-radius: 0.375rem;
}

.top-64 {
  width: calc(100% - 64px)!important;
}

.top-240 {
  width: calc(100% - 240px)!important;
}

/* END TOP-BAR */

/* EVENTS POPUP */
.btn-events {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(22,43,58,.79);
  --bs-btn-border-color: rgba(22,43,58,.79);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(54, 80, 98, 0.79);
  --bs-btn-hover-border-color: rgba(54, 80, 98, 0.79);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(29, 54, 71, 0.79);
  --bs-btn-active-border-color: rgba(29, 54, 71, 0.79);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-orange-100);
  --bs-btn-disabled-border-color: var(--gosu-orange-100);

  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.5rem;
  line-height: 1rem;
}

.offcanvas {
  width: 77% !important;
}

/* END EVENTS POPUP */

/* DASHBOARD */



/* END DASHBOARD */

/* DATETIME PICKER */

.react-datepicker {
  font-family: var(--bs-font-sans-serif)!important;
  font-size: 0.75rem!important;
  background-color: #fff;
  color: #000;
  /* border: 1px solid var(--gosu-blue-space-light-100)!important; */
  border-radius: 1.5rem !important;
  display: inline-block;
  position: relative;
  margin-top: 2rem;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 1.5rem!important;
  margin: 0.5rem;
}

.react-datepicker__header {
  background-color: transparent!important;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -32px!important;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  align-items: center;
  background: none!important;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: capitalize;
  width: 100%;
  top: -2.5rem;
  position: absolute;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  border-radius: 1.5rem!important;
  background-color: var(--gosu-orange-100)!important;
  color: #fff;
  padding-top: 0.05rem;
}

.react-datepicker__navigation-icon--next {
  left: -13px!important;
  z-index: 999;
}

.react-datepicker__navigation--previous {
  left: 13px!important;
}

.date-year-select {
  font-weight:500;
  font-size:14px;
  line-height:16.8px;
  color: rgba(115, 128, 159, 1);
}

option:checked, option:hover, option:active, option:focus{
  color: #fff;
  background-color: var(--gosu-orange-100);
  border-radius: 1.5rem;
  outline:none;
}

option:checked:after {
  content: attr(title);
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

.offcanvas-header .btn-close{
  width: 30px;
  height: 30px;
  font-weight: 300;
  position: absolute;
  left: 0.2rem;
  top: 1rem;
  background: transparent url(https://avatanplus.com/files/resources/original/5968a2c8f2ed115d40bbe123.png) center auto no-repeat;;
  color: black!important;
}

.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
  background-color: transparent !important;
}

.rounded-top {
  border-top-left-radius: var(--gosu-border-radius-ys)!important;
  border-top-right-radius: var(--gosu-border-radius-ys)!important;
}

@keyframes spinner-border{
  to{transform:rotate(-360deg)}
}

.spinner-border {
  --bs-spinner-width: 4rem;
  --bs-spinner-height: 4rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.25em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-border;
  border: var(--bs-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

.year-picker option {
  font-weight: 500;
  font-size: 0.65rem;
  display: block;
  line-height: 0.9rem!important;
  min-height: 1.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  gap: 0.625rem;
  width: 3.7rem;
  height: 1.875rem;
}

/* END DATETIME PICKER */

/* START KANBAN */

#kanban_dialog_wrapper {
  max-height: fit-content !important;
  z-index: 100000 !important;
  width: fit-content !important;
  left: 0px;
  top: 0px;
  position: relative;
}

.e-dialog .e-footer-content {
  box-sizing: border-box;
  /* display: flex; */
}

.e-kanban-dialog {
  min-width: fit-content !important;
}


/* END KANBAN */

/* START GRID */
.e-dlg-container div {
  max-height: fit-content !important;
}

#grid_1822616568_1_dialogEdit_wrapper, #grid_1822616568_3_dialogEdit_wrapper {
  width: 330px;
  max-height: fit-content !important;
  z-index: 100002;
  left: 0px;
  top: 0px;
  position: relative;
}

/* END GRID */

/* DROP DOWN LIST */

.grid-editor .e-input-group {
  position: relative !important;
  flex: 1 1 auto !important;
  width: 1% !important;
  min-width: 0 !important;
}

.grid-group-editor .e-input-group {
  width: 100%;
  padding: 0.225rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* END DROP DOWN LIST */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.m-cart {
  min-width: 1.7rem;
}

.m-cart span {
  top: 20%;
  left: 85%;
  max-width: 1.125rem;
  min-width: 1.125rem;
}

.account {
  max-width: 1.5rem;
}

.rounded-ys {
  border-radius: var(--gosu-border-radius-ys)!important;
}

.rounded-top-ys {
  border-top-left-radius: var(--gosu-border-radius-ys)!important;
  border-top-right-radius: var(--gosu-border-radius-ys)!important;
}

.text-orange {
  color: var(--gosu-orange-100)!important;
}

.text-space-light {
  color: var(--gosu-blue-space-light-100);
}

.text-blue-gray {
  color: var(--gosu-blue-gray-100) !important;
}

.text-darck-blue {
  color: var(--gosu-darck-blue-100) !important;
}

.product-item .react-reveal {
  height: 100%;
}

.btn-back-on-top {
  --bs-btn-border-color: rgba(235, 94, 69, 1);
  --bs-btn-bg: rgba(235, 94, 69, 1);
  --bs-btn-color: rgba(255, 255, 255, 1);
  --bs-btn-hover-bg: rgba(235, 94, 69, 0.5);
  --bs-btn-hover-border-color: rgba(235, 94, 69, 0.5);
  --bs-btn-active-bg: rgba(235, 94, 69, 0.5);
  --bs-btn-active-border-color: rgba(235, 94, 69, 0.5);
}

.price::after{
  content:' сум';
}

.weight::after{
  content:' г.';
}

.alert-dark {
  --bs-alert-color: var(--gosu-light-100);
  --bs-alert-bg: var(--gosu-blue-space-100);
  --bs-alert-border-color: var(--gosu-blue-space-100);
  border-radius: var(--gosu-border-radius-ys);
}

.alert-secondary {
  --bs-alert-color: var(--gosu-dark-gray-100);
  --bs-alert-bg: var(--gosu-blue-light-100);
  --bs-alert-border-color: var(--gosu-blue-light-100);
  border-radius: var(--gosu-border-radius-ys);
}

.nav-item {
  background-color: var(--gosu-blue-light-100);
  border-radius: var(--gosu-border-radius-ys);
  color: var(--gosu-darck-blue-100);
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  text-decoration: none;
  color: var(--gosu-darck-blue-100);
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--gosu-border-radius-ys);
  --bs-nav-pills-link-active-color: var(--gosu-light-100);
  --bs-nav-pills-link-active-bg: var(--gosu-blue-space-100);
}

.btn-group>.btn-group:not(:last-child)>.btn, 
.btn-group>.btn.dropdown-toggle-split:first-child, 
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: var(--bs-btn-border-radius);
  border-bottom-right-radius: var(--bs-btn-border-radius);
}

.btn-group>.btn-group:not(:first-child)>.btn, 
.btn-group>.btn:nth-child(n+3), 
.btn-group>:not(.btn-check)+.btn {
  border-top-left-radius: var(--bs-btn-border-radius);
  border-bottom-left-radius: var(--bs-btn-border-radius);
}

.btn-group {
  border: 0.01rem solid var(--gosu-light-gray-100);
}

.btn-condition {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gosu-orange-100);
  --bs-btn-border-color: var(--gosu-orange-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-orange-100);
  --bs-btn-hover-border-color: var(--gosu-orange-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-orange-100);
  --bs-btn-active-border-color: var(--gosu-orange-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-orange-100);
  --bs-btn-disabled-border-color: var(--gosu-orange-100);

  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.5rem;
  line-height: 1rem;
  transform: rotate(0.99turn);

  --bs-btn-margin-x: auto;
}

.btn-all-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gosu-orange-100);
  --bs-btn-border-color: var(--gosu-orange-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-orange-100);
  --bs-btn-hover-border-color: var(--gosu-orange-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-orange-100);
  --bs-btn-active-border-color: var(--gosu-orange-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-orange-100);
  --bs-btn-disabled-border-color: var(--gosu-orange-100);


  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.2rem;
  line-height: 1rem;
}

.btn-out-orange {
  --bs-btn-color: var(--gosu-orange-100);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--gosu-orange-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-orange-100);
  --bs-btn-hover-border-color: var(--gosu-orange-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--gosu-orange-100);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--gosu-orange-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--gosu-orange-100);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--gosu-orange-100);

  --bs-btn-padding-y: 1.2rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 1rem;
  line-height: 1rem;
}

.catalog-counter span {
  color: var(--gosu-light-100) !important;
}

.catalog-counter button {
  --bs-btn-color: var(--gosu-light-50) !important;
  --bs-btn-hover-color: var(--gosu-light-100) !important;
}

.btn-all-none {
  --bs-btn-color: var(--gosu-darck-blue-100);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--gosu-orange-100);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-orange-100);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-orange-100);
  --bs-btn-disabled-border-color: transparent;

  --bs-btn-padding-y: 1.2rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 1rem;
  line-height: 1rem;
}

.rounded-bottom {
  border-bottom-right-radius: var(--gosu-border-radius-ys)!important;
  border-bottom-left-radius: var(--gosu-border-radius-ys)!important;
}

.btn-m-space {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gosu-blue-space-100);
  --bs-btn-border-color: var(--gosu-blue-space-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-blue-space-100);
  --bs-btn-hover-border-color: var(--gosu-blue-space-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-blue-space-100);
  --bs-btn-active-border-color: var(--gosu-blue-space-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-blue-space-100);
  --bs-btn-disabled-border-color: var(--gosu-blue-space-100);

  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 1.5rem;
  margin-top: 1.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.btn-m-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gosu-orange-100);
  --bs-btn-border-color: var(--gosu-orange-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-orange-100);
  --bs-btn-hover-border-color: var(--gosu-orange-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-orange-100);
  --bs-btn-active-border-color: var(--gosu-orange-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-orange-100);
  --bs-btn-disabled-border-color: var(--gosu-orange-100);

  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  margin-top: 1.5rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 1.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.btn-m-space-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gosu-blue-space-light-100);
  --bs-btn-border-color: var(--gosu-blue-space-light-100);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--gosu-blue-space-light-100);
  --bs-btn-hover-border-color: var(--gosu-blue-space-light-100);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--gosu-blue-space-light-100);
  --bs-btn-active-border-color: var(--gosu-blue-space-light-100);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gosu-blue-space-light-100);
  --bs-btn-disabled-border-color: var(--gosu-blue-space-light-100);

  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 1.5rem;
  margin-top: 1.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.btn-m-icon {
  
  --bs-img-color: #fff;
  /* --bs-btn-border-color: var(--gosu-blue-space-light-100); */
  --bs-img-hover-color: #fff;
  --bs-img-hover-bg: var(--gosu-blue-space-light-100);
  --bs-img-hover-border-color: var(--gosu-blue-space-light-100);
  --bs-img-focus-shadow-rgb: 49,132,253;
  --bs-img-active-color: #fff;
  --bs-img-active-bg: var(--gosu-blue-space-light-100);
  --bs-img-active-border-color: var(--gosu-blue-space-light-100);
  --bs-img-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-img-disabled-color: #fff;
  --bs-img-disabled-bg: var(--gosu-blue-space-light-100);
  --bs-img-disabled-border-color: var(--gosu-blue-space-light-100);

  --bs-img-padding-y: 0.5rem;
  --bs-img-padding-x: 1rem;
  --bs-img-font-size: 1.25rem;
  --bs-btn-border-radius: 1.5rem;
  margin-top: 1.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.btn-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--gosu-black-70);
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/0.75em auto no-repeat;
}

@media (max-width: 450px) {
  .h1, h1 {
    font-size: 1.325rem;
    font-weight: 700;
    line-height: 1.813rem;
    font-style: normal;
  }

  .btn-close {
    z-index: 999;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    color: black;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

@media (min-width:451px) and (max-width: 575px) {
  .h1, h1 {
    font-size: 1.325rem;
    font-weight: 700;
    line-height: 1.813rem;
    font-style: normal;
  }

  .btn-close {
    z-index: 999;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    color: black;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

@media (min-width:576px) and (max-width: 767px) {
  .h1, h1 {
    font-size: 1.325rem;
    font-weight: 700;
    line-height: 1.813rem;
    font-style: normal;
  }

  .btn-close {
    z-index: 999;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    color: black;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .h1, h1 {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.813rem;
    font-style: normal;
  }

  .btn-close {
    z-index: 999;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    color: black;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

@media (min-width:992px) and (max-width: 1199px) {
  .h1, h1 {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.813rem;
    font-style: normal;
  }

  .h5, h5 {
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {

}
